<h1>Eat a Burger!</h1>
<br>

<div id="avail">
    <h2>Burgers that were not devoured!</h2>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class="btn btn-warning" type="submit">Eat Me!</button>
            </form>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="devoured">
    <h2>Burgers that have been devoured!</h2>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div id="add">
    <h2>Add a Burger!</h2>
    <form class="create-form" action="/" method="POST">
        <div class="form-group">
            <label for="bur">Burger Name:</label>
            <input type="text" id="bur" name="burger_name">
        </div>
        <button class="btn btn-primary" type="submit">Add Burger</button>
    </form>
</div>